@{
    ViewData["Title"] = "Magic the Gathering banned cards";
}

<div class="text-center">
    @*<h1 class="display-4">Magic the Gathering banned cards</h1>*@
    <ul>
        <li>
            <a asp-controller="Home" asp-action="Standard">Standard</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Pionieer">Pionieer</a>
        </li>
        <li>
            <a asp-controller="Home" asp-action="Modern">Modern</a>
        </li>
    </ul>
</div>
